#search-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 90%;
}

#search-input {
  width: 100%;
  color-scheme: dark;
  background-color: #4e238880;
  border-radius: 4px;
}

#search-validation-msg {
  width: 100%;
  margin-top: 10px;
}

.search-input-container {
  display: flex;
  margin-bottom: 2px;
}