.search-header-container {
  display: flex;
  width: 600px;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  font-weight: bold;
}

.gen-btn.search-clear-btn {
  width: fit-content;
  height: auto;
}

@media (max-width: 600px) {
  .search-header-container {
    width: 90%;
  }
}