.calendar-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
}

.calendar-container.calendar-open {
  background: rgba(19,2,27,1);
  border: 1px solid #4f2388c4;
  border-radius: 5px;
}

.calendar-container.calendar-closed {
  height: 35px;
}

.calendar-header-container {
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
}

.calendar-header {
  display: flex;
  justify-content: center;
  background: transparent;
  color:white;
  border: none;
  border-radius: 25px;
  font-size: 28px;
  font-weight: bold;
}

.calendar-header:hover {
  background: #9059f0;
}

.calendar-header:active{
  background: #6628d1;
}

.calendar-reset-btn {
  background: transparent;
  width: fit-content;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
}

.calendar-reset-btn:hover{
  background: #9059f0;
}

.calendar-reset-btn:active{
  background: #6628d1;
}

.calendar-months-view-container {
  display: grid;
  grid-template-columns: repeat(6, 70px);
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
  place-content: center;
}

.calendar-month {
  justify-self: center;
  background: transparent;
  border: none;
  color: white;
  font-size: medium;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.calendar-month:hover {
  background: #9059f0;
  cursor: pointer;
}

.calendar-month.highlight {
  background: #4f2388;
}

.calendar-month:active {
  background: #6628d1;
}

.calendar-month.highlight:hover {
  background: #9059f0;
  cursor: pointer;
}

.calendar-month.highlight:active {
  background: #6628d1;
}

.calendar-month.highlight.calendar-today {
  border: 1px solid white;
}

.calendar-month.highlight.calendar-today:hover {
  background: #9059f0;
  cursor: pointer;
}

.calendar-month.highlight.calendar-today:active {
  background: #6628d1;
}

.calendar-days-view-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.calendar-weekdays-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns for weekdays */
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
  width: 400px;
}

.calendar-days-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns for days */
  grid-auto-rows: 50px;
  width: 400px;
}

.calendar-day-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
  color: white;
  font-size: medium;
  border-radius: 50%;
}

.calendar-day:hover {
  background: #9059f0;
  cursor: pointer;
}

.calendar-day:active {
  background: #6628d1;
}

.calendar-day.highlight {
  background: #4f2388;
}

.calendar-day.highlight:hover {
  background: #9059f0;
  cursor: pointer;
}

.calendar-day.highlight:active {
  background: #6628d1;
}

.calendar-day.highlight.calendar-today {
  border: 1px solid white;
}

.calendar-day.highlight.calendar-today:hover {
  background: #9059f0;
  cursor: pointer;
}

.calendar-day.highlight.calendar-today:active {
  background: #6628d1;
}

.calendar-day.calendar-today {
  border: 1px solid white;
}

.calendar-day.empty {
  background: transparent;
  border: none;
}

@media (max-width: 600px) {
  .calendar-container {
    width: 90%;
  }

  .calendar-months-view-container {
    grid-template-columns: repeat(4, 80px);
  }

  .calendar-days-view-container {
    width: 100%;
  }

  .calendar-weekdays-container {
    width: 95%;
  }

.calendar-days-container {
    width: 95%;
  }
}