.devise-wrapper {
  width: 100%;
  min-height: 100svh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.devise-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1920px;
  width: 40%;
  height: fit-content;
  background: transparent;
  border: none;
  margin-top: 10px;
  padding: 10px 25px;
}

.devise-form {
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  align-items: center;
}

.field {
  margin-top: 10px;
}

.field-input {
  width: 200px;
  max-width: 100%;
}

.actions {
  margin-top: 20px;
}

.devise-link {
  margin-top: 20px;
}

.devise-btn {
  width: 72px;
  height: 25px;
  background-color: #723cd1;
  color: white;
  margin-top: 20px;
}

.devise-btn.devise-btn-long {
  width: 113px;
}

.devise-btn:hover {
  background-color: #9059f0;
}

.devise-btn:active {
  background: rgb(127, 27, 242);
}

.devise-edit-header {
  margin-bottom: 5px;
}

.error-message {
  display: none;
  width: 185px;
  font-size: .8em;
}

input:focus:invalid ~ .error-message{
  display: flex;
}

@media (max-width: 600px) {
  .devise-container {
    width: 82%;
  }
}