#dream-input-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 90%;
  margin-top: calc(67px + 15px); /* 67px for the calendar container height */
  margin-bottom: 20px;
}

#dream-input-form.edit-form {
  margin-top: 15px;
  align-self: center;
}

#dream-input-textarea {
  height: 80px;
  color-scheme: dark;
  background-color: #4e238880;
  border-radius: 4px;
  padding: 5px;
}

#dream-input-time {
  color-scheme: dark;
  background: transparent;
  border: none;
  font-size: large;
  width: 110px;
}

.disabled-creation-msg {
  margin-top: calc(67px + 15px);
  margin-bottom: 15px;
}

.input-char-count {
  align-self: flex-end;
}

.dream-input-top-row {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.dream-input-bottom-row {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.confirm-delete-container {
  display: flex;
  flex-direction: column;
  
}

.confirm-delete-btn {
  margin-right: 5px;
}

.dream-delete-confirm-msg {
  position: absolute;
  bottom: 8px;
  left: 30px;
}

.dream-update-msg {
  position: absolute;
  right: 20px;
}