.dream-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 600px;
  position: relative;
  background: #4e238880;
  border-radius: 16px;
  border: none;
  padding: 10px 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
  scroll-margin-top: 80px;
  border: 1px solid transparent;
}

.dream-container.highlight-container {
  border: 1px solid white;
}

.dream-expanded-body-container {
  display: flex;
  flex-direction: column;
}

.dream-top-row-container {
  display: flex;
  justify-content: space-between;
}

.dream-body {
  display: flex;
  width: 90%;
  align-self: center;
  margin: 10px 0px;
  overflow-wrap: anywhere;
}

.dream-body.search-row-dream-body {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.expand-btn {
  background: transparent;
  border: none;
  padding: 0px;
}

.expand-btn:hover {
  background-color: #9059f0;
  border-radius: 20px;
}

/* .lucide--edit {
  width: 24px;
  height: 24px;
} */

.lucide--edit::after {
  display: inline-block;
  width: 28px;
  height: 28px;
  vertical-align: -0.125em;
  padding: 3px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M12 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7'/%3E%3Cpath d='M18.375 2.625a1 1 0 0 1 3 3l-9.013 9.014a2 2 0 0 1-.853.505l-2.873.84a.5.5 0 0 1-.62-.62l.84-2.873a2 2 0 0 1 .506-.852z'/%3E%3C/g%3E%3C/svg%3E");
}

.lucide--x {
  display: inline-block;
  width: 28px;
  height: 28px;
  padding: 3px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M18 6L6 18M6 6l12 12'/%3E%3C/svg%3E");
}

@media (max-width: 600px) {
  .dream-container {
    width: 90%;
  }
}