.dropdown {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: calc(250px - 20px); /* 20px for padding left and right */
  background-color: #330d69;
  border-radius: 5px;
  padding: 15px 10px;
  z-index: 1000;
}

.dropdown.dropdown-closed {
  background: transparent;
  border: 0px transparent;
}

.dropdown.dropdown-open {
  height: 100%;
  width: 275px;
}

.dropdown-btn-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.dropdown-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0px transparent;
  height: 35px;
  width: 55px;
  padding: 5px;
}

.dropdown-items-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 55px; /* 55 px from dropdown-btn-container to match*/
}

.dropdown-btn:hover {
  background-color: #9059f0;
  border-radius: 4px;
}

.hamburger-icon-line.top-line {
  margin-top: 0px;
}

.hamburger-icon-line {
  background: white;
  display: block;
  height: 3px;
  width: 45px;
  position: relative;
  margin-top: 8px;
}

.hamburger-icon:before {
  top: 5px;
}
.hamburger-icon:after {
  top: -5px;
}

.hamburger-close-icon-line {
  color: white;
  font-size: 2.5em;
  height: 35px;
  width: 55px;
  padding: 5px;
}

.logout-btn {
  background-color: transparent;
  color: white;
  line-height: 1.125;
  padding: 8px;
}

.logout-btn:hover {
  background-color: #9059f0;
}

@media (max-width: 480px) {
  .dropdown.dropdown-open {
    height: 100%;
    width: 100%;
  }
}