menu {
  margin: 0px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: #3a176b;
  border-radius: 5px;
  padding: 15px 25px;
  z-index: 1000;
}

.dropdown-closed {
  background: transparent;
  border: 0px transparent;
  height: 0%;
  padding-right: 10px;
}

.dropdown-open {
  position: fixed;
  height: 100%;
  width: 275px;
  padding-top: 0px;
  padding-right: 35px;
}

.dropdown-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 20px;
}

.dropdown-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0px transparent;
  height: 45px;
  width: 45px;
  padding: 5px;
}

.close-dropdown-btn {
  margin-top: 25px;
}

.dropdown-items-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 55px;
}

.dropdown-btn:hover {
  background-color: #9059f0;
  border-radius: 4px;
}

.dropdown-btn.open .top-line {
  transform: translateY(11px) rotate(45deg);
}

.dropdown-btn.open .bottom-line {
  transform: translateY(-11px) rotate(-45deg);
}

.dropdown-btn.open .middle-line {
  opacity: 0;
}

.hamburger-icon-line {
  background: white;
  display: block;
  height: 3px;
  width: 35px;
  position: relative;
  margin-top: 8px;
  transition: transform 0.5s ease;
  transform-origin: center;
}

.hamburger-icon-line.top-line {
  margin-top: 0px;
}

.hamburger-icon-line.middle-line {
  transition: opacity 0.5s ease;
}

.link-btn.dropdown-link-btn {
  margin-top: 20px;
  align-self: center
}

@media (max-width: 600px) {
  .dropdown {
    padding: 15px 0px;
  }

  .dropdown.dropdown-open {
    height: 100%;
    width: calc(100% - 50px);
    padding: 0px 25px;
  }
}