.info-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.info-page-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
}

.info-page-bottom-row {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.info-call-to-action {
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

.info-text {
  display: flex;
  max-width: 600px;
  justify-content: center;
  text-align: center;
}

.screenshot {
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: auto;
  aspect-ratio: 1 / 1.78;
  border: 1px solid white;
  border-radius: 4px;
  margin-bottom: 16px;
}

.app-screenshot {
  background-image: url('./images/DreamNightlyInput.jpg');
}

.calendar-screenshot {
  background-image: url('./images/DreamNightlyCalendar.jpg');
}

.search-screenshot {
  background-image: url('./images/DreamNightlySearch.jpg');
}

.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .info-call-to-action {
    display: flex;
    font-size: x-large;
  }

  .info-page-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .info-page-bottom-row {
    width: 100%;
  }

  .screenshot {
    max-width: 90%;
  }

  .info-text {
    width: 95%;
  }
}