nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  max-width: 100%;
  height: 70px;
}

#navbar-title {
  font-size: xx-large;
  font-weight: bold;
  align-self: center;
  justify-self: flex-start;
}

.session-btns-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
}

.session-btn {
  margin-left: 10px;
}