<div style="font-family:Arial, Helvetica, sans-serif;">
  <%= render "devise/mailer/shared/header"%>
  <p style="margin-left: 5px;">Hello <%= @resource.email %>!</p>

  <p style="margin-left: 5px;">We're contacting you to notify you that your password has been changed.</p>

  <%= render "devise/mailer/shared/footer"%>
</div>
