<div style="font-family:Arial, Helvetica, sans-serif;">
  <%= render "devise/mailer/shared/header"%>
  <p style="margin-left: 5px;">Hello <%= @resource.email %>!</p>

  <p style="margin-left: 5px;">Someone has requested a link to change your password. You can do this through the link below.</p>

  <p style="margin-left: 5px;"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

  <p style="margin-left: 5px;">If you didn't request this, please ignore this email.</p>
  <p style="margin-left: 5px;">Your password won't change until you access the link above and create a new one.</p>
  <%= render "devise/mailer/shared/footer"%>
</div>
